* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
}

main table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20em;
  font-family: Arial, sans-sherif;
  font-size: 16px;
  border-collapse: collapse;
}

main td,
th {
  padding: 4px;
  border: 1px solid black;
}

main th {
  color: white;
  background-color: green;
}

main .cos1 {
  text-align: left;
  vertical-align: top;
}

main .cos2 {
  text-align: center;
  vertical-align: middle;
}

main .cos3 {
  text-align: right;
  vertical-align: bottom;
}

aside table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20em;
  font-family: Arial, sans-sherif;
  font-size: 16px;
  border-collapse: collapse;
}

aside thead {
  color: blue;
  text-align: center;
  vertical-align: middle;
  background-color: orange;
}

aside th,
td {
  border: 1px solid black;
}
.tabela3 table {
  border: 5px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
  font-family: Arial, sans-sherif;
  border-collapse: collapse;
  text-align: center;
}

.tabela3 th {
  height: 40px;
}
.tabela3 thead {
  color: white;
  background-color: rgb(228, 89, 15);
}

.tabela3 th {
  border: 5px solid white;
  font-size: 10px;
}

.tabela3 td {
  border: 5px solid white;
  background-color: rgb(255, 227, 195);
  color: rgb(198, 100, 46);
  height: 10px;
}

.jasne {
  background-color: rgb(255, 215, 169) !important;
}
